/config.php
/admin/config.php

/system/cache/*
/system/download/*
/system/logs/*
/system/update/*
/system/storage/*/*
!/system/storage/*/index.html

/image/cache/*
!/image/cache/index.html
/image/catalog/*
!/image/catalog/index.html

!.gitkeep
/nbproject/*
